@model BusinessModels.BusinessDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Franchise Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FranchiseeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FranchiseeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FranchiseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FranchiseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FranchiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FranchiseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.XferStation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XferStation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToClientDist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToClientDist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToHaulerDist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToHaulerDist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromHaulerDist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromHaulerDist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandfillDist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandfillDist)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.HaulsPerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HaulsPerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreSMTYearlyHauls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreSMTYearlyHauls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoMath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoMath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmissionsMath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmissionsMath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaselineHaulerTruckRunningEmissions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaselineHaulerTruckRunningEmissions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaselineHaulerTruckIdlingEmissions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaselineHaulerTruckIdlingEmissions)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BusinessId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
